body {
    margin: 0;
}

#mapContainer {
    width: 40%;
    height: 100%;
    display: inline-block;
    float: left;
}

#histoContainer {
    height: 66.666%;

    box-sizing: border-box;
    border-bottom: 1px solid darkgrey;
}

#stackGraphContainer {
    height: 33.333%;
}

.hist {
    width: 50%;
    float: left;
    height: 50%;
}

.sidebar {
    width: 60%;
    height: 100%;
    display: inline-block;

    mix-blend-mode: multiply;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.map-toolbar {
    position: fixed;
}

.background {
    pointer-events: all;
}
.active {
    stroke-width: 2 !important;
    stroke: white;
    z-index: 10;
}

.legendBackground {
    fill: rgba(0, 0, 0, 0.5);
}
.domain {
    fill: rgba(0, 0, 0, 0);
}
.tick line {
    stroke: black;
}
.legendWrapper text{
    fill: white;
    font: normal 12px Arial, sans-serif;
    text-anchor: middle;
}
.legendTitle {
    font-size: 16px !important;
    font-weight: bold !important;
}

.province {
    transition: all .2s ease-in-out;
    z-index: 1;
}
.province:hover {
    stroke-width: 1;
}

.station {
    transform: scale(1,1);
    transition: all .2s ease-in-out;
}

.station:hover {
    fill: orange;
    stroke: black;
    transform: scale(1.0,1.0);
}

.track {
    transition: all .2s ease-in-out;
}
.track:hover {
    stroke: orange;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.d3-tip span {
    color: red;
}

